*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    color: black;
}

.logo{
    cursor: pointer;
}

body{
    background: #40E0D0;
    font-family: 'Roboto', sans-serif;
}

.nav{
    width: 300px;
}

.list{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #ffff;
}

