Options +FollowSymLinks
RewriteEngine on

RewriteRule ^login$ index.html
RewriteRule ^user$ users.php
RewriteRule ^register_patient$ register_patient.php
RewriteRule ^register_student$ register_student.php
RewriteRule ^register_doctor$ register_doctor.php
RewriteRule ^register_user$ register_user.php
RewriteRule ^register_specialty$ register_specialty.php
RewriteRule ^admin_panel$ admin_panel.php
RewriteRule ^historial$ historial.html