<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
</style>

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body{
    background: #40E0D0;
    font-family: 'Roboto', sans-serif;
}

head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    z-index: 100;
}


.box-container {
    display: flex;
    j
    flex-wrap: wrap;
    text-align: center;
}

.box-container .box {
    height: 170px;
    width: 270px;
    border: #ffff;
    border-radius: 20px;
    text-align: center;

}

.box-container .box i {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: #151515;
    font-size: 25px;
    margin: 10px;
}

.box-container .box h3 {
    font-size: 20px;
    color: wheat;
}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.btn {
    font-size: 18px;
    font-weight: bold;
    border: 3px solid white;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}